body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

p{
    font-size: 50%;
    display: none;
}

.active{
    display: block;
}

